/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 Oct, 2016, 1:14:56 PM
    Author     : kunal
*/
.player{
    -fx-padding: 10px;
}
#playButton{
   -fx-alignment: CENTER;
   -fx-background-image: url('images/play_100.png');
   -fx-background-color: #ABABAB;
   -fx-background-position: center;
   -fx-background-radius: 100;
}
#playButton:selected{
   -fx-background-image: url('images/pause_100.png');
}
Label{
    -fx-padding: 10px;
}
#playlists{
    -fx-background-color: #BBBBBB;
}
/*.listBox{
    -fx-padding: 10px;
}*/