/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 Oct, 2016, 1:14:56 PM
    Author     : kunal
*/
.player{
    -fx-padding: 10px;
}
#playButton{
   -fx-alignment: CENTER;
   -fx-background-image: url('images/play_100.png');
   -fx-background-color: #ABABAB;
   -fx-background-position: center;
   -fx-background-radius: 100;
}
#playButton:selected{
   -fx-background-image: url('images/pause_100.png');
}
Label{
    -fx-padding: 10px;
}
Button{
    -fx-background-color: rgba(255,255,255,0);
}
ToggleButton{
    -fx-background-color: rgba(255,255,255,0);
}
#playlists{
    -fx-background-color: #BBBBBB;
}
#editButton{
    -fx-background-image: url('images/edit_100.png');
}
#deleteButton{
    -fx-background-image: url('images/delete_100.png');
}
#nextButton{
    -fx-background-image: url('images/next_75.png');
}
#previousButton{
    -fx-background-image: url('images/previous_75.png');
}
#shuffleButton{
    -fx-background-image: url('images/shuffle_60.png');
}
#favouriteButton{
    -fx-background-image: url('images/favourite_100.png');
}
#autoplayButton:selected{
    -fx-background-image: url('images/autoplay_60.png');
}
#autoplayButton{
    -fx-background-image: url('images/noautoplay_60.png');
}
#favouriteButton:selected{
    -fx-background-image: url('images/favourited_100.png');
}
/*.listBox{
    -fx-padding: 10px;
}*/